.site-navbar {
  display: flex;
  justify-content: space-between;
}

.active {
  background-color: red;
}

.site-header {
  background-color: gray;
}

.site-card {
  border: 1px solid grey;
  margin-left: 1rem;
  padding: 1rem;
  width: 250px;
}

.card-types-list {
  list-style: none;
  display: flex;
}

.site-search {
  background-color: white;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
